.profile__user {
	max-width: 100%;
	display: flex;
	box-sizing: border-box;
	padding: 22px 0 0 0;
}

@media screen and (max-width: 767px) {
	.profile__user {
		margin: 0 38px 0px 65px;
		padding: 0;
	}
}