.header__logo {
	max-width: 142px;
	height: 33px;
	width: 100%;
	object-fit: fill;
	display: block;
	box-sizing: border-box;
}

@media screen and (max-width: 767px) {
	.header__logo {
		max-width: 103.74px;
		height: 24.4px;
		margin-left: 27px;
	}
}