.profile__text {
	margin: 0 18px 0 0;
	padding: 0;
	max-width: 294px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

@media screen and (max-width: 767px) {
	.profile__text {
		margin: 0 10px 0 0;
		max-width: 189px;
		align-items: center;
	}
}